div {
  width: 500px;
  height: 500px;

  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 2500px;}
}
body {
  background-image: url("../images/newyork.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.div {
  width: 900px;
  height: 900px;

  margin-left:4500px ;

  position: relative;
  animation: goblin 5s infinite;
  animation-timing-function: linear;
}

@keyframes goblin {
  from {top: 0px;}
  to {top: 1100px;}
}
